<!DOCTYPE html>
<html lang="en" ng-app="OpenDataDiscovery">

  <head>
    <title>Open Data Discovery</title>
    <base href="app">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Open Graph Markup -->
    <meta property="og:url" content="http://opendatadiscovery.org" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Discovery the World of Open Data" />
    <meta property="og:description" content="We present the up-to-date status of open data portals." />

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
  </head>

  <body>
    <header-toolbar></header-toolbar>
    <div class="content-container">
      <div class="home-page" id="home-page">
        <home-page></home-page>
      </div>
      <div class="about-page" id="about-page">
        <about-page></about-page>
      </div>
      <div class="max-size" id="map-page">
        <map-page flex></map-page>
      </div>
      <div class="max-size" id="export-page">
        <export-page flex></export-page>
      </div>
    </div>
  </body>

</html>
