<html ng-app="odd.under-construction">

  <head>
    <meta charset="utf-8" />
    <title>OpenDataDiscovery.org Is Not At Home!</title>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

    <style>
      .content {
        height: 100%;
      }
    </style>

    <script type="text/javascript">
      var app = angular.module('odd.under-construction', ['ngMaterial']);

      app.controller('mainCtrl', function($scope) {
      });
    </script>
  </head>

  <body ng-controller="mainCtrl">
    <md-content class="content" flex>
      <div class="content" layout="column" layout-align="center center">
        <p class="md-headline">Opps..</p>
        <p class="md-headline">OpenDataDiscovery.org is out for sailing and will return soon.</p>
        <p class="md-subhead">Leave him a <a href="mailto:haoliang.yu@outlook.com">Message</a>...</p>
      </div>
    </md-content>
  </body>

</html>
