node_modules
coverage
/scripts/*
/tile-server/*.mbtiles
/tile-server/*.mbtiles-journal
bootstrap/bootstrap_aws.sh
npm-debug.log
www/static
www/static_src/config.js

!/scripts/sql/db_schema.sql

.vagrant
