node_modules
coverage
/scripts/*
/tile-generator/temp/*
/tile-server/tiles/*
/tile-server/config.json
bootstrap/bootstrap_aws.sh
www/static

!/scripts/data/bootstrap_data.tar.gz
!/scripts/sql/db_schema.sql
!/tile-server/test/*
!/tile-server/tiles/README.md

.vagrant
