<div class="portal-name">
  {{ properties.instance_name }}
</div>

<div class="portal-location">
  {{ properties.region_name }}
</div>

<table class="popup-info-table">
  <tr>
    <td>
      <span class="row-name">Datasets</span>
    </td>
    <td>
      <span>{{ properties.count }}</span>
    </td>
  </tr>
  <tr>
    <td>
      <span class="row-name">Top Tag</span>
    </td>
    <td>
      <span class="portal-info" ng-if="properties.top_tag">{{ properties.top_tag.name }} ({{ properties.top_tag.count }})</span>
    </td>
  </tr>
  <tr>
    <td>
      <span class="row-name">Top Category</span>
    </td>
    <td>
      <span class="portal-info" ng-if="properties.top_category">{{ properties.top_category.name }} ({{ properties.top_category.count }})</span>
    </td>
  </tr>
  <tr>
    <td>
      <span class="row-name">Top Organization</span>
    </td>
    <td>
      <span class="portal-info" ng-if="properties.top_organization">{{ properties.top_organization.name }} ({{ properties.top_organization.count }})</span>
    </td>
  </tr>
  <tr>
    <td>
      <span class="row-name">Update Date</span>
    </td>
    <td>
      <span class="portal-info">{{ properties.update_date | date: 'yyyy-MM-dd' }}</span>
    </td>
  </tr>
</table>

(Click for more detail)
