<md-content class="instance-list" >
  <md-list ng-cloak>
    <md-subheader class="md-no-sticky">{{ instanceList.instances.length }} Open Data Portals</md-subheader>
    <md-list-item class="md-2-line"
                  ng-repeat="instance in instanceList.instances | orderBy: 'name'"
                  ng-click="instanceList.seeDetail(instance)">
      <div class="md-list-item-text">
        <h3>{{ instance.name }}</h3>
        <p>{{ instance.location }}</p>
      </div>
    </md-list-item>
  </md-list>
</md-content>
