<md-content class="instance-list" >
  <md-checkbox ng-checked="instanceList.isAllSelected()"
               md-indeterminate="instanceList.isIndeterminate()"
               ng-click="instanceList.toggleAllInstances()">
    <span ng-if="instanceList.isAllSelected()">Un-</span>Select All
  </md-checkbox>
  <div layout="row" ng-repeat="instance in instanceList.instances" flex>
    <md-checkbox class="md-align-top-left checkbox-group-item"
                 ng-model="instance.visible"
                 ng-click="instanceList.toggleInstance(instance)">
      {{ instance.name }}
    </md-checkbox>
  </div>
</md-content>
