<h4>{{ instanceInfo.instance.name }}</h4>

<table>
  <tr>
    <td>
      <label>Location</label>
    </td>
    <td>
      <span>{{ instanceInfo.instance.location }}</span>
    </td>
  </tr>
  <tr>
    <td>
      <label>Website</label>
    </td>
    <td>
      <span>{{ instanceInfo.instance.url }}</span>
    </td>
  </tr>
  <tr>
    <td>
      <label>Datasets</label>
    </td>
    <td>
      <span>{{ instanceInfo.instance.count }}</span>
    </td>
  </tr>
  <tr>
    <td>
      <label>Update</label>
    </td>
    <td>
      <span>{{ instanceInfo.instance.updateDate }}</span>
    </td>
  </tr>
  <tr>
    <td>
      <label>Description</label>
    </td>
    <td>
      <span>{{ instanceInfo.instance.description }}</span>
    </td>
  </tr>
</table>
