<md-content md-whiteframe="9">
  <p class="md-body-2 text-center" ng-hide="regionInfo.showRegionInfo">
    Click and get detials of the portal!
  </p>
  <div ng-show="regionInfo.showRegionInfo">
    <div class="region-name md-title">
      {{ regionInfo.name }}
    </div>
    <md-divider></md-divider>
    <div>
      <span class="md-body-2 region-info-title">Datasets</span>&nbsp;&nbsp;
      <span class="md-body-1">{{ regionInfo.count | number: 0 }}</span>
    </div>
    <md-divider></md-divider>
    <div>
      <span class="md-body-2 region-info-title">Protals</span>
      <ul class="md-body-1">
        <li ng-repeat="instance in regionInfo.instances | orderBy: '-count'">
          <i class="fa fa-square" ng-style="{ color: regionInfo.getSquareColor(instance.count)}"></i>
          {{ instance.name }} ({{ instance.count | number: 0 }})
        </li>
      </ul>
    </div>
  </div>
</md-content>
