<md-sidenav class="md-sidenav-right md-whiteframe-4dp"
            md-component-id="right" md-disable-backdrop>
  <md-content>
    <md-tabs md-selected="sidebar.selectedTab" md-dynamic-height md-border-bottom>
      <md-tab label="Instance List">
        <instance-list-view></instance-list-view>
      </md-tab>
      <md-tab label="Instance Info"></md-tab>
    </md-tabs>
  </md-content>
  <md-button class="md-raised close-btn" ng-click="sidebar.close()">
    <i class="fa fa-times"></i> Close
  </md-button>
</md-sidenav>
