.sidebar-content {
  height: 100%;
}

.sidebar-tabs {
  height: calc(100% ~'-' 40px);
}

.close-btn {
  height: 40px;
  width: 100%;
  margin: 0;
}

.instance-list {
  padding: 20px;
  font-size: 14px;

  .checkbox-group-item {
    margin-left: 25px;
  }
}
