.sidebar {
  right: 15px;
  top: 15px;
  bottom: 20px;
  width: 485px;
  pointer-events: initial !important;

  .sidebar-content {
    height: 100%;
  }

  .sidebar-tabs {
    height: 100%;
  }

  .sidebar-notification {
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
  }

  .instance-list {
    overflow-y: auto;
    font-size: 14px;
  }

  .instance-info-list {
    overflow-y: auto;
  }

  .list-item-name {
    font-size: 15px;
    font-weight: bold;
  }

  .md-sidemenu .md-button {
    padding: 0 16px 0 20px;
  }

  .md-sidemenu-toggle {
    span {
      .list-item-name
    }
  }

  .md-sidemenu-wrapper {
    padding: 0 20px;
    height: 0;

    &.md-active {
      height: auto;
    }
  }

  .md-sidemenu-content {

    .chart-title {
      font-size: 13px;
      font-weight: bold;
    }

    instance-info-chart {
      width: 100%;
    }
  }

}
